<div class="section-container">
  <h2>Latest Orders</h2>
  <table class="table table-inverse table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Customers</th>
        <th>Amount</th>
        <th>Orders Placed</th>
        <th>Order Fulfilled</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody class="table-dark">
      <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td>{{ order.customer.name }}</td>
        <td>{{ order.total }}</td>
        <td>{{ order.placed | date : 'mediumDate' }}</td>
        <td>{{ order.fulfilled | date : 'mediumDate' }}</td>
        <td>Status</td>
      </tr>
    </tbody>
  </table>

  <!-- <app-pagination 
  (goPrev)="goToPrevious()"
  (goNext)="" /> -->
</div>
