<div class="section-container">
  <div class="row row-cols-3 g-4 cards-deck">
    <div class="col">
      <div class="cards mb-3 shadow card-theme">
        <div class="card-header card-header-theme">
          <h5>Daily Orders</h5>
        </div>
        <div class="card-body">
          <app-bar-chart />
        </div>
      </div>
    </div>
    <div class="col">
      <div class="cards mb-3 shadow card-theme">
        <div class="card-header card-header-theme">
          <h5>Orders by Customer</h5>
        </div>
        <div class="card-body">
          <app-pie-chart />
        </div>
      </div>
    </div>
    <div class="col">
      <div class="cards mb-3 shadow card-theme">
        <div class="card-header card-header-theme">
          <h5>Orders by State</h5>
        </div>
        <div class="card-body">
          <app-pie-chart />
        </div>
      </div>
    </div>
  </div>
</div>